@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind utilities;
@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark light;
  font-family: 'Inter', sans-serif;
}
